# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
*.stackdump
*.apk
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Assets/03_art/Shaders/Basic Alpha Blend.shader
Assets/03_art/Shaders/Basic Alpha Blend.shader.meta
Assets/03_art/Shaders/Basic Coloured UV.shader
Assets/03_art/Shaders/Basic Coloured UV.shader.meta
Assets/03_art/Shaders/Basic Textured.shader
Assets/03_art/Shaders/Basic Textured.shader.meta
Assets/03_art/Shaders/Basic.shader
Assets/03_art/Shaders/Basic.shader.meta
Assets/03_art/Shaders/Exercise 1.shader
Assets/03_art/Shaders/Exercise 1.shader.meta
Assets/03_art/Shaders/Exercise 2.shader
Assets/03_art/Shaders/Exercise 2.shader.meta
Assets/03_art/Shaders/Exercise 3.shader
Assets/03_art/Shaders/Exercise 3.shader.meta
Assets/03_art/Shaders/Exercise 4.shader
Assets/03_art/Shaders/Exercise 4.shader.meta
Assets/03_art/Shaders/Exercise 5.shader
Assets/03_art/Shaders/Exercise 5.shader.meta
Assets/03_art/Shaders/Exercise 6.shader
Assets/03_art/Shaders/Exercise 6.shader.meta
Assets/03_art/Shaders/Exercise 7.shader
Assets/03_art/Shaders/Exercise 7.shader.meta
Assets/03_art/Shaders/Exercise 8.shader
Assets/03_art/Shaders/Exercise 8.shader.meta
